<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>

<div class="app">
  <button type="button" (click)="openModal()">
    Open modal
  </button>
  <custom-modal [attr.open]="showModal"
                title="Modal Web Components" 
                button="Confirm"
                (close)="closeModal()"
                (btn-click)="handleClick()">
    <div slot="content">
      <p>{{ message }}</p>
    </div>
  </custom-modal>
</div>



